<div class="container" id="changevoteForm" style='display: none;'>
<form id="banForm" class="form-horizontal" action="/" method="post">
   <div class="form-group">
	<div class="input-group">
		<div class="input-group-addon">Баттл 1</div>
      <input type="message" class="form-control" id="nameBattle1" required>
	  </div>
  </div>
   <div class="form-group">
	<div class="input-group">
		<div class="input-group-addon">Баттл 2</div>
      <input type="message" class="form-control" id="nameBattle2" required>
	  </div>
  </div>
   <div class="form-group">
	<div class="input-group">
		<div class="input-group-addon">Баттл 3</div>
      <input type="message" class="form-control" id="nameBattle3" required>
	  </div>
  </div>
  <div class="form-group">
		<input class="btn btn-primary" type="submit" value="Отправить"></input>
 </div>
</form>
<a href='#' onclick='location.reload(); return false' style='float: right; color: white;'>отменить</a>
</div>
<script src="/scripts/changevoteform.js"></script>