			<div class="row" style='margin: auto !important;'>
				<div class='col-md-3 hidden-sm hidden-xs' id='battler1'>
					<img src='images/battlers/oxxymiron.jpg' width="240" height="400">
				</div>
				<div class='col-md-6' id='money'>
					<p class="text-center">Собираем на баттл: </p>
					<h2 class="text-center"><strong>Oxxxymiron VS Eminem</strong></h2><br>
					<table border="0" cellpadding="0" cellspacing="0" style="margin: auto;"><tr><td>
					<div style="padding: 0.6em; background-color: #DAE6F2; border: 1px solid #B8CFE6; border-radius: 7px; -moz-border-radius: 7px;">
					<a href="https://money.yandex.ru/embed/?from=sbal" title="Виджеты Яндекс.Денег" style="width: 200px; height: 100px; display: block; margin-bottom: 0.6em; background: url('https://money.yandex.ru/share-balance.xml?id=421238664&key=A1CAFFD6F7D256F0') 0 0 no-repeat; -background: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://money.yandex.ru/share-balance.xml?id=421238664&key=A1CAFFD6F7D256F0', sizingMethod = 'crop');">
					</a><form action="https://money.yandex.ru/direct-payment.xml" method="post"><input type="hidden" name="receiver" value="410014547033027"/>
					<input type="hidden" name="sum" value="100"/><input type="hidden" name="destination" value="Яндекс.Деньги &#8212; на баттл Oxxxymiron VS Eminem"/>
					<input type="hidden" name="FormComment" value="Пожертвование через виджет &#171Мой баланс&#187;"/>
					<input type="submit" class='btn-primary btn-lg' value="Поддержать проект" style="margin-top: 0.6em; width: 100%;"/></form></div></td></tr></table>
					</div>	
				<div class='col-md-3 hidden-sm hidden-xs' id='battler2'>
					<img src='images/battlers/eminem.jpg' width="240" height="400">
				</div>		
			</div>		
<script>$('.active').removeClass("active");</script>