<h3 class='text-center'>Забаненные</h3>
     <div class="row">
        <form action="" class="search-form" id='searchBanned'>
            <div class="form-group has-feedback">
          		<label for="search" class="sr-only">Search</label>
           		<input type="text" class="form-control" name="search" id="search" placeholder="search" value="@">
             		<span class="glyphicon glyphicon-search form-control-feedback"></span>
           	</div>
        </form>
    </div>
<ul class="pagination">
  <li class="active"><a href="#" class='banListPage' onclick='askForBanList($(this)); return false;'>1</a></li>
</ul>
<ul id='banListItems'>
	
</ul>
<script src='scripts/banlist.js'>
