<br>
<h3 class='text-center'>Чей баттл следующий?</h3>
<a href="#" onclick='$(this).next().show(); return false;' style="color: grey; font-size: large;"><span class='glyphicon glyphicon-question-sign'></span></a>
<div class="alert alert-warning" style="display: none;">
  <strong>Внимание!</strong> В этот раздел попадают лучшие из предложки. Набравшие по итогам голосования наибольшее количество голосов будут выставлены на сбор средств для проведения баттла.
</div>
<div id="unauthorMess">
</div>
<div id="voteResult">
</div>
<a href='#' id='clearVote' style='display: none;' onclick='clearVote(); return false'>Обнулить голосование</a>
<script src="/scripts/vote.js"></script>