<h3 class='text-center'>Пошумим здесь</h3>
<a href='#' class="btn btn-primary" onclick="$('#messageForm').show(600); $('#messageForm').removeClass('hiddenwindow'); $('#minimizeMessageWindow').html('<span class=\'glyphicon glyphicon-resize-small\'></span>'); $('#message').focus(); return false;">Отправить сообщение</a>
<ul id="messagesReceived">
</ul>
<a href='#' class="btn btn-primary" onclick='getMoreMessages(); return false' style='margin-top: 20px;'>Загрузить еще</a>
<script src="/scripts/messageNeeded.js"></script>