<script src="/scripts/propose.js"></script>
<a href='#' id='clearPropose' onclick='clearPropose(); return false;' style='display: none;'>Очистить предложку</a>
<h3 class='text-center'>Кого хочет увидеть народ?</h3>
<a href="#" onclick='$(this).next().show(); return false;' style="color: grey; font-size: large;"><span class='glyphicon glyphicon-question-sign'></span></a>
<div class="alert alert-warning" style="display: none;">
  <strong>Внимание!</strong> В этои разделе активный пользователь портала может предложить пару для баттла для дальнейшего голосования. Если пара уже пристуствует, то просто плюсани ее. Добавившие посторонний текст (реклама, смищные шутеечки, троллинг) будут забанены!.
</div>
<br>
<div id="propose">
	<div id="contentToPropose">
	</div>
	<div id="proposalItems">
	</div>
	<div class='text-center'>
	<a href='#' class="btn btn-primary btn-lg"  onclick="furtherButton(); return false" style='margin-top: 20px;'>Дальше</a>
	</div>
</div>
