{{#each login}}
	<br>
	<li class='banListItem'>
		<div class='bannedNick' data-messagenick={{this}}></div>
		<div style='display: inline;'>
			<span class='glyphicon glyphicon-user' style='margin-rigth: 20px;'></span>{{this}}
		</div>
		<a href='#' onclick='window.banAuthor($(this)); $(this).closest("li").remove(); return false;' class='banListItemRemove'>
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</li>
	<br>
{{/each}}	