<form id="voteForm" class="form-horizontal" action="/" method="post">
	<br><br>
    <p><span class="input-group-addon"><input name="vote" type="radio" value="001" id='firstCandidate'>{{first}}</span></p>
    <p><span class="input-group-addon"><input name="vote" type="radio" value="002" id='secondCandidate'>{{second}}</span></p>
    <p><span class="input-group-addon"><input name="vote" type="radio" value="003" id='thirdCandidate'>{{third}}</span></p>
	<br>
    <p><input class="btn btn-primary" type="submit" value="Голосовать"></p>
</form>
